.title {
    display: flex;
    color: white;
    background-color: purple;
    justify-content: center;
    font-weight: bolder;
    font-size: 4em;
    padding: 30px;
}

header {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(208, 192, 232);
    text-align: center;
}

.start-button {
    width: 8%;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: 2em;
    margin-top: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#highscore {
    align-items: flex-start;
    padding: 1em;
    border-color: red;
    width: 15em;
    font-size: 2em;
}

#timer {
    align-items: flex-end;
    padding: 1em;
    width: 20em;
    margin-left: 60%;
    font-size: 2em;
}

section {
    padding: 1em;
    font-size: medium
}

#question {
    display: grid;
    justify-content: center;
}

#question-input {
    display: grid;
    justify-content: center;
    font-size: 2em;
}

#enter-score {
    text-align: center;
}

@media (max-width: 690px) {
*{
    display:flex, 1;
    display:row;
}
.start-button {
    width: 40%;
}
#timer { 
    margin-left: 10%;
}
}